.header_bg {
  background-image: url("/media/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 65vh;
}

#site_divider_1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-image: url("/media/divider_1.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 50vh;
  width: 100%;
  opacity: 0.7;
}

#site_divider_2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-image: url("/media/divider_2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 50vh;
  width: 100%;
  opacity: 0.7;
}

.img_takeoff {
  width: 30%;
}

.desc_img {
  width: 40%;
}

.desc_img_gz {
  width: 40%;
}

.desc_img_schirm {
  width: 40%;
}

footer {
  font-size: 85%;
}
